<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Liste des tickets</title>
    <link rel="stylesheet" href="/css/liste-tickets.css" />
  </head>
  <body>
    <%- include("fragments/header") %>

    <main>
      <h1>Tickets</h1>
      <!-- Rien pour l’instant -->
    </main>

    <%- include("fragments/footer") %>
  </body>
</html>
