<section class="form-container">
  <h1>Créer un compte</h1>
  <link rel="stylesheet" href="/css/style.css" />
  <% if (erreur) { %>
  <p class="error"><%= erreur %></p>
  <% } %>

  <form method="post" action="/users/register">
    <div class="form-group">
      <label for="username">Nom d’utilisateur</label>
      <input type="text" name="username" id="username" required />
    </div>

    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" name="password" id="password" required />
    </div>

    <div class="form-group">
      <label for="lastname">Nom</label>
      <input type="text" name="lastname" id="lastname" required />
    </div>

    <div class="form-group">
      <label for="firstname">Prénom</label>
      <input type="text" name="firstname" id="firstname" required />
    </div>

    <div class="form-group">
      <label for="birthdate">Date de naissance</label>
      <input type="date" name="birthdate" id="birthdate" required />
    </div>

    <div class="form-group">
      <label for="email">Adresse e-mail</label>
      <input type="email" name="email" id="email" required />
    </div>

    <div class="form-group">
      <label for="role">Rôle</label>
      <select name="role" id="role" required>
        <option value="1">Apprenant</option>
        <option value="2">Formateur</option>
      </select>
    </div>

    <div class="form-actions">
      <button type="submit">Créer le compte</button>
    </div>
    <div class="form-actions">
      <button
        type="button"
        class="btn btn-cancel"
        onclick="window.location.href='/'"
      >
        Annuler
      </button>
    </div>
  </form>
</section>
