<header>
  <div class="logo-container">
    <img src="/images/logo.jpg" alt="Logo HelpMe" class="logo" />
    <span class="site-title">HelpMe!</span>
  </div>

  <nav>
    <a href="/">Accueil</a>
    <a href="#">Se connecter</a>
  </nav>
</header>
